<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Feedback Loop v0.0.1 by 
	<%= mail_to "punkware@free.fr", "Punkware", :subject => "Regarding your Feedback Loop site...", :body => "Dear Punkware, I want to let you know that ..." %>
</p>
