<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Feedback Loop v0.0.1 by

	<% mail_sender = "Dear Punkware, I want to let you know that ..." %> 
	<% if signed_in? %>
		<% mail_sender = mail_sender + "\n\nSincerely yours,\n\n" + current_user.name %>
	<% end %>
	<%= mail_to "punkware@free.fr", "Punkware", :subject => "Regarding your Feedback Loop site...", :body => mail_sender %>
</p>
