<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="center hero-unit">
	<h2>
		What is Feedback Loop ?<br /><br /> 
		Feedback is a process in which information about the past or the present influences the same phenomenon in the present or future.<br /><br /> 
		Loop is the complete causal path that leads from the initial detection of the gap to the subsequent modification of the gap.
	</h2>
</div>

<h3>FOR SURVEY OWNER</h3>

<br />

<p>
	Create / Update / Edit / Delete survey
	<ul>
		<li>On the home page of Feedback Loop, use the “Manage my surveys” button. Then use the buttons and links provided to manage your surveys and questions.</li>
	</ul>
<p>

<p>
	Public / Private
	<ul>
		<li>If you set your survey as “public”, every user of Feedback Loop see it and are able to feedback it. But only you can see the results.</li>
		<li>If you set your surveys as “private”, you have to notify by email (using the “notify surveyed” button) the people you expect to feedback your survey. These people then have to join your private survey (see section “Joining a private survey” below) to feedback it. Only you can see the results.</li>
	</ul>
<p>

<p>
	Anonymous / Not anonymous
	<ul>
		<li>If you set your survey as anonymous, you are not able to see the names of the surveyed with their answers (i.e. you don’t know who has answered what). Surveyed are notified at the beginning of the feedback that the survey is anonymous.</li>
		<li>If you set your survey as not anonymous, you are able to see the names of the surveyed with their answers. Surveyed are notified at the beginning of the feedback that the survey is not anonymous. You cannot set a survey to “not anonymous” once it have some feedbacks (to comply with the commitment made first to the surveyed that the feedback is anonymous).</li>
	</ul>
</p>

<p>
	Available / Not available
	<ul>
		<li>If you set your survey as “available”, it is available to the surveyed. They can feedback it. You cannot set a survey to “available” if it has no questions.</li>
		<li>If you set your survey as “ not available”, it is not available to the surveyed. They cannot see it in any way. You usually set a survey to ‘not available’ at creation, when your are defining the questions, because the survey is at that time not ready for feedback, and at the end when you don’t want any more results (after you have operate the results, it is a good practice to delete the survey).</li>
	</ul>
</p>

<br />

<h3>FOR SURVEYED</h3>

<br />

<p>
	Feedback a survey
	<ul>
		<li>To feedback a survey, simply click on the survey name on the home page.</li>
		<li>You don’t have to answer all survey questions at one time. You can stop at any point (your answers are saved gradually) and continue later with the questions not answered.</li>
		<li>If you change your mind, you can start again the survey and change any of your saved answers.</li>
	</ul>
</p>

<p>
	Joining a private survey
	<ul>
		<li>If you receive a mail suggesting  you to join a private network, copy the survey code enclosed in the email, then go on the home  page of Feedback  Loop (sign up, or sign in beforehand if necessary) and use the “join private survey” button. Paste the code in the field and  “join”. Back to the home page, the private survey is now displayed and available for feedback.</li>
		<li>If you think the survey may interest other people you know, forward them the mail with the code. The code will work for them too.</li>
	</ul>
</p>
