<% provide(:title, 'Help') %>
<h1>Help</h1>
<div class="center hero-unit">
	<h2>
		What is Feedback Loop ?<br /><br /> 
		Feedback is a process in which information about the past or the present influences the same phenomenon in the present or future.<br /><br /> 
		Loop is the complete causal path that leads from the initial detection of the gap to the subsequent modification of the gap.
	</h2>
</div>

