<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<p>
			Dear <%= @user.name %>,
		</p>
		<p>
			Following your request, <em>we have resetted your password</em>. Your new password is : <%= @password %>
		</p>
		<p>
			Sign in to Feedback Loop and change it as soon as possible (by updating your profile).
		</p>
		<p>
			Kind regards,
		</p>
		<p>
			The Feedback Loop team
		</p>
	</body>
</html>