<li>
	<%= link_to survey.title, survey_path(survey) %>

	| <%= link_to "edit", edit_survey_path(survey) %>
	
	| <%= link_to "delete", survey, method: :delete, confirm: "This survey will be deleted. Are you sure ?" %>

	<br />
	
	<span class="timestamp">
		Created <%= time_ago_in_words(survey.created_at) %> ago.
	</span>
</li>