<% provide(:title, 'Give feedback') %>
<div class="center hero-unit">
	<h2> You're about to start survey "<%= @survey.title %>"</h2>

	<% if @survey.anonymous %>
		<p> This survey is anonymous. <%= @survey.user.name %> will not be able to see your name. </p>
	<% else %>
		<p> This survey is NOT anonymous. <%= @survey.user.name %> will be able to see your name with your answers. </p>
	<% end %>
	
	<%= link_to "Start survey !", next_question, class: "btn btn-large btn-primary" %>
</div>
