<% provide(:title, "Update survey") %> 
<h1>Update survey</h1>

<%= render 'shared/error_messages', object: @survey %>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@survey) do |f| %>   

			<%= render 'fields', f: f %>

			<br />

			<%= f.submit "Save changes", :class => "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>